* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background: linear-gradient(to right top, #0c0d0e, #121b26, #19263d, #283055, #3f386b);
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 20px 25px;
    box-shadow: 0 5px 10px rgba(3, 1, 12, 0.7);
    border-radius: 10px;
}

form .title {
    color: black;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

form label {
    margin-bottom: 35px;
}

form label .fa-solid {
    font-size: 20px;
    color: #120537;
    margin-right: 10px;
}

form label input {
    outline: none;
    border: none;
    color: #181535;
    border-bottom: solid 1px  #181535;
    padding: 0 5px;
    font-size: 18px;
}

form button {
    color: white;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right top, #0c0d0e, #121b26, #19263d, #283055, #3f386b);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 30px;
}

a:link {
    color: #121b26;
}

a:visited {
    color: #121b26; 
}




